# Archivos y carpetas generados por Android Studio
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Archivos generados por Gradle
.gradle/
build/

# Archivos de configuración local
/local.properties

# Archivos de navegación
.navigation/

# Archivos específicos de Android
/*/build/
/*/out
/*/*/build
/*/*/production
*.apk
*.ap_
*.aab
*.dex

# Archivos de log
*.log

# Archivos específicos de Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Directorios específicos de IntelliJ IDEA
/.idea/dictionaries
/.idea/jarRepositories.xml
/.idea/compiler.xml
/.idea/misc.xml
/.idea/.name
/.idea/vcs.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml

# Google Services (por ejemplo, google-services.json)
google-services.json

# Keystore para firmar APK
*.jks
*.keystore
*.p12